html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    }

.heading{
    font-size: 40px;
    text-align: center;
}


 .custombtnsection{
    font-size: 3rem;
    text-align: center;
}

.custombtnsection{
    margin-top: 40px;
}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.child{
    text-align: center;
    width: 65rem;
    height: 70rem;
    margin-bottom: 10rem;
}

.title{
    font-size: 4rem;
}
.img{
    width: 100%;
    height: 60rem;
}
.synopsis{
    font-size: 20px;
}

.rating{
    font-size: 40px;
}


.test{
    font-size: 50px;
}